/* Helpers */
$color-primary: #113B92;
$color-primary-darken: darken($color-primary, 10%);
$color-primary-lighten: lighten($color-primary, 10%);

$color-grey-light: whitesmoke;
$color-grey: lightgrey;
$color-grey-dark: darkgrey;
$color-grey-darker: grey;

@mixin mobile {
    @media only screen and (max-width: 599px) { @content; }
}



/* Normalise/reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;

}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* My styles specific to app */
body {
    font-family: sans-serif, Arial, Helvetica;
}

h1 {
    font-size: 35px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 10px;
}

@include mobile {
    h1 {
        font-size: 25px;
        line-height: 1.2;
    }

    p {
        font-size: 15px;
        margin-bottom: 0px;
    }
}


/* Styles for layout */
.page {
    &-inner {
        width: 80%;
        margin: -8px auto 0;
        box-shadow: 0 2px 10px 2px $color-grey;
    }

    &-header {
        height: 85px;
        padding: 10px;
        margin-bottom: 10px;
        background: $color-primary;
        border-bottom: 1px solid $color-grey;
    }

    &-title {
        margin: 10px;
        padding: 10px;
        color: #fff;
        font-size: 30px;
    }

    &-content {
        padding: 10px;
        margin-bottom: 25px;
    }

    &-footer {
        height: 85px;
        border-top: 2px solid $color-grey;
        padding: 10px;
        background: $color-grey-light;
    }
}


/* Styles for components */
// Transport Filter
.tfl-filter {
    margin-bottom: 20px;

    &--instructions {
        font-size: 15px;
        padding: 5px 15px;
        color: $color-primary-darken;
    }

    &--list {
        margin: 10px;

        &:after {
            clear: both;
            content: "";
            display: block;
        }
    }

    &--item {
        color: $color-primary;
        background: #fff;
        width: auto;
        display: block;
        float: left;
        padding: 10px 20px;
        margin: 5px 10px;
        border-radius: 10px;
        border: 1px solid $color-primary;
        cursor: pointer;

        &.__selected {
            color: #fff;
            background: $color-primary;
        }

        &:hover {
            background: $color-primary-lighten;
            color: #fff;
        }

        &.__disabled {
            color: $color-grey-darker;
            border: 1px solid $color-grey-dark;
            background: $color-grey-light;
            cursor: initial;
        }
    }

    @include mobile {
        margin-bottom: 10px;
    }
}

// Table Update
.tfl-update {
    text-align: right;
    padding: 10px 0;
    margin-bottom: 5px;

    &--time {
        color: $color-primary-darken;
        font-size: 13px;
        padding: 0 10px;
    }

    &--button {
        font-size: 14px;
        font-weight: bold;
        padding: 10px 15px;
        background: $color-grey-light;
        color: #0c2964;
        border-radius: 10px;
        border: 1px solid $color-grey;
        vertical-align: super;
        cursor: pointer;

        &:hover {
            background: $color-grey;
            border: 1px solid $color-grey-dark;
        }
    }

    @include mobile {
        margin-bottom: 10px;
    }
}

// Transport Table
.tfl-table {
    width: 100%;
    margin: 0 auto;
    color: $color-primary-darken;

    &--head {
        background: $color-grey;
    }

    &--header-cell {
        font-weight: 700;
    }

    &--cell {
        font-size: 14px;

        &.mode {
            text-transform: capitalize;
        }
    }

    &--header-cell,
    &--cell {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    } 

    &--row {
        border-bottom: 1px solid $color-grey;

        &:nth-child(even) {
            background: $color-grey-light;
        }
    }

    // Mobile Styles
    @include mobile {
        overflow: scroll;
        display: block;
    }
}





